<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">This Weeks Comics</h3>
        </div>
        <div class="panel-body">
          <a href="/this_weeks_comics"><img src="/assets/this_weeks_comics.png" alt="This Weeks Comics dashboard preview" class="dashboard_preview"></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Amazing Spider-Man</h3>
        </div>
        <div class="panel-body">
          <a href="/amazing_spider_man"><img src="/assets/amazing_spider_man.png" alt="Amazing Spider-Man dashboard preview" class="dashboard_preview"></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Captain America</h3>
        </div>
        <div class="panel-body">
          <a href="/captain_america"><img src="/assets/captain_america.png" alt="Captain America dashboard preview" class="dashboard_preview"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Iron Man</h3>
        </div>
        <div class="panel-body">
          <a href="/iron_man"><img src="/assets/iron_man.png" alt="Iron Man dashboard preview" class="dashboard_preview"></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Thor</h3>
        </div>
        <div class="panel-body">
          <a href="/thor"><img src="/assets/thor.png" alt="Thor dashboard preview" class="dashboard_preview"></a>
        </div>
      </div>
    </div>
  </div>
</div>
