// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

$dashboard_preview_width: 100%;
$dashboard_preview_height: 220px;

// ----------------------------------------------------------------------------
// Base styles
// ----------------------------------------------------------------------------

.dashboard_preview {
  width: $dashboard_preview_width;
  height: $dashboard_preview_height;
}
