<% content_for :title do %>Amazing Spider-Man<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="asm_issue_big_picture" data-view="BigImage" data-image=""
        style="background-color:transparent;"
        data-max="true">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="asm_issue_description" data-view="Superhero"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="asm_creators" data-view="Superhero" data-title="Creators"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="asm_sale_date" data-view="Superhero" data-title="Sale Date"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="asm_sale_price" data-view="Superhero" data-title="Sale Price"></div>
    </li>
  </ul>
</div>
