<% content_for :title do %>First 100 issues of Captain America<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="cap_big_picture" data-view="BigImage" data-image=""
        style="background-color:transparent;"
        data-max="true">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="cap_title" data-view="Superhero" data-title="Title"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="cap_description" data-view="Superhero" data-title="Description"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="cap_creators" data-view="Superhero" data-title="Creators"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cap_sale_date" data-view="Superhero" data-title="Sale Date"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cap_sale_price" data-view="Superhero" data-title="Sale Price"></div>
    </li>
  </ul>
</div>
