<script type='text/javascript'>
  $(function() {
    Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":2},{"col":3,"row":1,"size_x":2,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1}]')
  });
</script>

<% content_for :title do %>This Weeks Comics<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="twc_big_picture" data-view="BigImage" data-image=""
        style="background-color:transparent;"
        data-max="true">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twc_title" data-view="Superhero"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twc_description" data-view="Superhero"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twc_preview_thumbnail_1" data-view="BigImage" data-image=""
        style="background-color:transparent;"
        data-max="true">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twc_preview_thumbnail_2" data-view="BigImage" data-image=""
        style="background-color:transparent;"
        data-max="true">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twc_preview_thumbnail_3" data-view="BigImage" data-image=""
        style="background-color:transparent;"
        data-max="true">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twc_preview_thumbnail_4" data-view="BigImage" data-image=""
        style="background-color:transparent;"
        data-max="true">
      </div>
    </li>
  </ul>
</div>
